<div class="text-center mt-5" id="loading" style="display: none;">
    <strong>กำลังตรวจสอบข้อมูล...</strong>
    <div class="w-100 d-flex justify-content-center">
        <div class="spinner-border m-5" style="width: 5rem; height: 5rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<form class="form-signin" autocomplete="off">
    <img class="my-4" src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72"
        height="72">
    <h1 class="h3 mb-3 font-weight-normal">เข้าระบบ ร้านขายรถ</h1>
    <div id="show_error_text" class="text-danger"></div>
    <label class="d-flex">อีเมล/ชื่อผู้ใช้งาน</label>
    <input type="text" class="form-control border-success" (keyup)="this.changeInput('username',$event)"
        placeholder="อีเมล/ชื่อผู้ใช้งาน" required="" autofocus="" autocomplete="email">
    <label class="d-flex">รหัสผ่าน</label>
    <input type="password" class="form-control border-success" (keyup)="this.changeInput('password',$event)"
        placeholder="รหัสผ่าน" required="" autocomplete="new-password">
    <button class="btn btn-lg btn-success btn-block" type="button" (click)="this.checkLogin()">เข้าระบบ</button>
    <a class="btn btn-lg btn-outline-success btn-block" role="button" routerLink="/storeregister.html">สมัครลงขายรถ</a>
    <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
</form>