<app-headerstore *ngIf="this.storeData"
[style_css]="this.style_css"
[storeData]="this.storeData"
[islogin]="this.islogin"
[tokenUser]="this.tokenUser"
[changeStyle]="this.changeStyle"
></app-headerstore>
<div class="container bg-light shadow">
    <router-outlet></router-outlet>
</div>
<app-footerstore></app-footerstore>