<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/index.html">เซลขายรถ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/index.html">หน้าแรก <span class="sr-only">ขายรถมือสองได้ค่าคอม
                            5,000-100,000</span></a>
                </li>
                <li *ngIf="!this.storeData" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/saleregister.html">สมัครตัวแทน</a>
                </li>
                <li *ngIf="!this.storeData" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/storeregister.html">สมัครเปิดร้าน</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/">เซลติดดาว</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/">ร้านติดท็อป</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/">เกี่ยวกับเรา</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/">ติดต่อเรา</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li *ngIf="!this.storeData" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/salelogin.html">เข้าระบบเซล</a>
                </li>
                <li *ngIf="!this.storeData" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/storelogin.html">เข้าระบบร้าน</a>
                </li>
                <li *ngIf="this.storeData" class="nav-item">
                    <a class="nav-link" routerLink="/store/{{this.storeData.urlStore}}/profile">โปรไฟล์</a>
                </li>
                <li *ngIf="this.storeData" class="nav-item">
                    <a class="nav-link" routerLink="/store/{{this.storeData.urlStore}}/home">หน้าร้าน</a>
                </li>
                <li *ngIf="this.storeData" class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" (click)="this.logOut()">ออกจากระบบ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" (click)="this.changeStyle()"><i
                            class="material-icons">emoji_objects</i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>