<div class="row">
    <div class="col-md-8 my-4">
        <h4 class="mb-3">กรอกข้อมูลในการลงทะเบียน</h4>
        <div id="show_error_text" class="text-danger"></div>
        <form class="needs-validation">
            <div class="row" id="step_1">
                <div class="col-md-12 mb-3">
                    <label>ชื่อร้าน / ชื่อกลุ่ม / ชื่อทีม</label>
                    <input type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" name="nameStore" class="form-control"
                        placeholder="ชื่อร้าน / ชื่อกลุ่ม / ชื่อทีม" (keyup)="this.changeInput('nameStore',$event)">
                </div>
                <div class="col-md-12 mb-3">
                    <p class="m-0">ประเภทร้าน</p>
                    <div class="custom-control custom-radio"
                        (click)="this.changeInputRadio('typeStore','เต้นรถ/ศุนย์รถ')">
                        <input type="radio" id="typeStore1" name="typeStore" class="custom-control-input">
                        <label class="custom-control-label" for="typeStore1">เต้นรถ/ศุนย์รถ</label>
                    </div>
                    <div class="custom-control custom-radio" (click)="this.changeInputRadio('typeStore','ดิลเลอร์')">
                        <input type="radio" id="typeStore2" name="typeStore" class="custom-control-input">
                        <label class="custom-control-label" for="typeStore2">ดิลเลอร์</label>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label>กำหนด URL ของหน้าร้าน</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">{{this.domain}}</div>
                        </div>
                        <input type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" name="urlStore" class="form-control"
                            placeholder="URL ของหน้าร้าน" (blur)="this.checkInput('urlStore','next_1')"
                            (keyup)="this.changeInput('urlStore',$event)">
                    </div>
                </div>
                <div class="col-md-6 mb-3">

                </div>
                <div class="col-md-6 mb-3">
                    <button style="display:none;" class="btn btn-primary btn-lg btn-block next_1" type="button"
                        (click)="this.changeStep('step_1','step_2','2','nameStore','typeStore','urlStore')">ขั้นตอน
                        ถัดไป</button>
                </div>
            </div>
            <div class="row" id="step_2" style="display: none;">
                <div class="col-md-6 mb-3">
                    <label>ชื่อจริง (ไม่เปิดเผยข้อมูล สาธารณะ)</label>
                    <input type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" name="fName" class="form-control"
                        placeholder="ชื่อจริง" (keyup)="this.changeInput('fName',$event)">
                </div>
                <div class="col-md-6 mb-3">
                    <label>สกุลจริง (ไม่เปิดเผยข้อมูล สาธารณะ)</label>
                    <input type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" name="lName" class="form-control"
                        placeholder="สกุลจริง" (keyup)="this.changeInput('lName',$event)">
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-secondary btn-lg btn-block" type="button"
                        (click)="this.changeStep('step_2','step_1','1')">ขั้นตอน ก่อนหน้า</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary btn-lg btn-block next_2" type="button"
                        (click)="this.changeStep('step_2','step_3','3','fName','lName')">ขั้นตอน ถัดไป</button>
                </div>
            </div>

            <div class="row" id="step_3" style="display: none;">
                <div class="col-md-12 mb-3">
                    <label>อีเมล</label>
                    <input type="email" name="email" class="form-control" placeholder="อีเมล"
                        (blur)="this.checkInput('email','next_3')" (keyup)="this.changeInput('email',$event)">
                </div>
                <div class="col-md-12 mb-3">
                    <label>เบอร์ติดต่อ (เปิดเผย สาธารณะ)</label>
                    <input type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" name="phone" class="form-control"
                        placeholder="เบอร์ติดต่อ" (keyup)="this.changeInput('phone',$event)">
                </div>

                <div class="col-md-6 mb-3">
                    <button class="btn btn-secondary btn-lg btn-block" type="button"
                        (click)="this.changeStep('step_3','step_2','2')">ขั้นตอน ก่อนหน้า</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button style="display:none;" class="btn btn-primary btn-lg btn-block next_3" type="button"
                        (click)="this.changeStep('step_3','step_4','4','email','phone')">ขั้นตอน ถัดไป</button>
                </div>
            </div>

            <div class="row" id="step_4" style="display: none;">
                <div class="col-md-12 mb-3">
                    <label>ชื่อผู้ใช้งาน (ใช้ในการเข้าสู่ระบบ)</label>
                    <input type="text" autocorrect="off" spellcheck="false" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" name="username" class="form-control"
                        placeholder="ชื่อผู้ใช้งาน" (blur)="this.checkInput('username','next_4')"
                        (keyup)="this.changeInput('username',$event)">
                </div>
                <div class="col-md-12 mb-3">
                    <label>รหัสผ่าน</label>
                    <input type="password" name="password" autocomplete="new-password" class="form-control" placeholder="รหัสผ่าน"
                        (blur)="this.checkInput('password','next_4')" (keyup)="this.changeInput('password',$event)">
                </div>
                <div class="col-md-12 mb-3">
                    <label>ยืนยัน รหัสผ่าน</label>
                    <input type="password" name="password_confirm" autocomplete="new-password" class="form-control" placeholder="ยืนยัน รหัสผ่าน"
                        (blur)="this.checkInput('password_confirm','next_4')"
                        (keyup)="this.changeInput('password_confirm',$event)">
                </div>
                <div class="col-md-6 mb-3">
                    <button class="btn btn-secondary btn-lg btn-block" type="button"
                        (click)="this.changeStep('step_4','step_3','3')">ขั้นตอน ก่อนหน้า</button>
                </div>
                <div class="col-md-6 mb-3">
                    <button (click)="this.changeStep('step_4','step_5','4','username','password','password_confirm')"
                        style="display:none;" class="btn btn-primary btn-lg btn-block next_4" type="button">สมัครสมาชิก เพื่อลงขาย</button>
                </div>
            </div>
            
            <div class="text-center" id="step_5" style="display: none;">
                <strong>กำลังบันทึก...</strong>
                <div class="w-100 d-flex justify-content-center">
                    <div class="spinner-border m-5" style="width: 5rem; height: 5rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>

            <hr class="mb-4">
        </form>
    </div>

    <div class="col-md-4 my-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span>ข้อมูลในการลงทะเบียน</span>
            <span class="badge badge-secondary badge-pill">{{this.step_number}}/4</span>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6 class="my-0">{{this.json['nameStore']}}</h6>
                    <small class="text-muted">ชื่อร้าน / ชื่อกลุ่ม / ชื่อทีม</small>
                </div>
                <span class="text-muted">{{this.json['typeStore']}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6 class="my-0">{{(this.json['urlStore'] != '') ? this.domain+this.json['urlStore']:''}}</h6>
                    <small class="text-muted">กำหนด URL ของหน้าร้าน</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6 class="my-0">{{this.json['fName']}} {{this.json['lName']}}</h6>
                    <small class="text-muted">ชื่อ - สกุล</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6 class="my-0">{{this.json['email']}}</h6>
                    <small class="text-muted">อีเมล</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6 class="my-0">{{this.json['phone']}}</h6>
                    <small class="text-muted">เบอร์ติดต่อ</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6 class="my-0">{{this.json['username']}}</h6>
                    <small class="text-muted">ชื่อผู้ใช้งาน</small>
                </div>
            </li>
        </ul>
    </div>

</div>