<div class="text-center mt-5" id="loading" style="display: none;">
    <strong>กำลังบันทึกข้อมูล...</strong>
    <div class="w-100 d-flex justify-content-center">
        <div class="spinner-border m-5" style="width: 5rem; height: 5rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<div class="row" id="form-info-data">
    <div class="col-md-12">
        <h3 class="mb-4">ข้อมูลรถที่จะขาย</h3>
        <form>
            <div class="form-group">
                <label>ชื่อประกาศขาย</label>
                <input type="text" #name (keyup)="this.changeInput('name',name.value)" class="form-control"
                    placeholder="ชื่อประกาศขาย">
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>ราคาโพสต์ขาย</label>
                        <input type="number" #price (keyup)="this.changeInput('price',price.value)" class="form-control"
                            placeholder="ราคาโพสต์ขาย">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>ค่าคอมที่จะให้หาก เซลขายรถของท่านได้</label>
                        <input [readonly]="check.checked" type="number" #commission (keyup)="this.changeInput('commission',commission.value)"
                            class="form-control" placeholder="ค่าคอมที่จะให้หาก">
                    </div>
                    <div class="custom-control custom-checkbox" (click)="this.changeInput('commission','0');commission.value=0">
                        <input type="checkbox" #check class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">ไม่มีค่าคอม</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>จังหวัดที่รถอยู่</label>
                <select class="form-control" #province (change)="this.changeInput('province',province.value)">
                    <option value="">- กรุณาเลือกจังหวัด -</option>
                    <option value="กระบี่">กระบี่</option>
                    <option value="กรุงเทพมหานคร">กรุงเทพมหานคร</option>
                    <option value="กาญจนบุรี">กาญจนบุรี</option>
                    <option value="กาฬสินธุ์">กาฬสินธุ์</option>
                    <option value="กำแพงเพชร">กำแพงเพชร</option>
                    <option value="ขอนแก่น">ขอนแก่น</option>
                    <option value="จันทบุรี">จันทบุรี</option>
                    <option value="ฉะเชิงเทรา">ฉะเชิงเทรา</option>
                    <option value="ชลบุรี">ชลบุรี</option>
                    <option value="ชัยนาท">ชัยนาท</option>
                    <option value="ชัยภูมิ">ชัยภูมิ</option>
                    <option value="ชุมพร">ชุมพร</option>
                    <option value="ตรัง">ตรัง</option>
                    <option value="ตราด">ตราด</option>
                    <option value="ตาก">ตาก</option>
                    <option value="นครนายก">นครนายก</option>
                    <option value="นครปฐม">นครปฐม</option>
                    <option value="นครพนม">นครพนม</option>
                    <option value="นครราชสีมา">นครราชสีมา</option>
                    <option value="นครศรีธรรมราช">นครศรีธรรมราช</option>
                    <option value="นครสวรรค์">นครสวรรค์</option>
                    <option value="นนทบุรี">นนทบุรี</option>
                    <option value="นราธิวาส">นราธิวาส</option>
                    <option value="น่าน">น่าน</option>
                    <option value="บึงกา">บึงกาฬ</option>
                    <option value="บุรีรัมย์">บุรีรัมย์</option>
                    <option value="ปทุมธานี">ปทุมธานี</option>
                    <option value="ประจวบคีรีขันธ์">ประจวบคีรีขันธ์</option>
                    <option value="ปราจีนบุรี">ปราจีนบุรี</option>
                    <option value="ปัตตานี">ปัตตานี</option>
                    <option value="พระนครศรีอยุธยา">พระนครศรีอยุธยา</option>
                    <option value="พะเยา">พะเยา</option>
                    <option value="พังงา">พังงา</option>
                    <option value="พัทลุง">พัทลุง</option>
                    <option value="พิจิตร">พิจิตร</option>
                    <option value="พิษณุโลก">พิษณุโลก</option>
                    <option value="ภูเก็ต">ภูเก็ต</option>
                    <option value="มหาสารคาม">มหาสารคาม</option>
                    <option value="มุกดาหาร">มุกดาหาร</option>
                    <option value="ยะลา">ยะลา</option>
                    <option value="ยโสธร">ยโสธร</option>
                    <option value="ระนอง">ระนอง</option>
                    <option value="ระยอง">ระยอง</option>
                    <option value="ราชบุรี">ราชบุรี</option>
                    <option value="ร้อยเอ็ด">ร้อยเอ็ด</option>
                    <option value="ลพบุรี">ลพบุรี</option>
                    <option value="ลำปาง">ลำปาง</option>
                    <option value="ลำพูน">ลำพูน</option>
                    <option value="ศรีสะเกษ">ศรีสะเกษ</option>
                    <option value="สกลนคร">สกลนคร</option>
                    <option value="สงขลา">สงขลา</option>
                    <option value="สตูล">สตูล</option>
                    <option value="สมุทรปราการ">สมุทรปราการ</option>
                    <option value="สมุทรสงคราม">สมุทรสงคราม</option>
                    <option value="สมุทรสาคร">สมุทรสาคร</option>
                    <option value="สระบุร">สระบุรี</option>
                    <option value="สระแก้ว">สระแก้ว</option>
                    <option value="สิงห์บุรี">สิงห์บุรี</option>
                    <option value="สุพรรณบุรี">สุพรรณบุรี</option>
                    <option value="สุราษฎร์ธานี">สุราษฎร์ธานี</option>
                    <option value="สุรินทร์">สุรินทร์</option>
                    <option value="สุโขทัย">สุโขทัย</option>
                    <option value="หนองคาย">หนองคาย</option>
                    <option value="หนองบัวลำภู">หนองบัวลำภู</option>
                    <option value="อำนาจเจริญ">อำนาจเจริญ</option>
                    <option value="อุดรธานี">อุดรธานี</option>
                    <option value="อุตรดิตถ์">อุตรดิตถ์</option>
                    <option value="อุทัยธานี">อุทัยธานี</option>
                    <option value="อุบลราชธานี">อุบลราชธานี</option>
                    <option value="อ่างทอง">อ่างทอง</option>
                    <option value="เชียงราย">เชียงราย</option>
                    <option value="เชียงใหม่">เชียงใหม่</option>
                    <option value="เพชรบุรี">เพชรบุรี</option>
                    <option value="เพชรบูรณ์">เพชรบูรณ์</option>
                    <option value="เลย">เลย</option>
                    <option value="แพร่">แพร่</option>
                    <option value="แม่ฮ่องสอน">แม่ฮ่องสอน</option>
                </select>
            </div>
            <div class="form-group">
                <label>รายละเอียดรถ</label>
                <ckeditor (change)="this.changeInputckeditor($event)"></ckeditor>
            </div>
        </form>
    </div>
    <div class="col-md-12 mt-5">
        <h3 class="mb-5">เพิ่มรูปภาพรถ</h3>
    </div>
    <div *ngFor="let item of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]" class="col-md-2 mb-3">
        <div
            class="card d-flex align-items-center justify-content-center height160 position-relative rounded-lg overflow-hidden shadow-sm">
            <i *ngIf="this.json['imgURL']['img_'+item]" (click)="this.removePreview(item)"
                class="material-icons position-absolute pointer close-btn rounded-circle">cancel</i>
            <label *ngIf="!this.json['imgURL']['img_'+item]" for="file-input-{{item}}"
                class="h-100 w-100 d-flex align-items-center flex-column justify-content-center pointer m-0">
                <i class="material-icons h1">
                    add_photo_alternate
                </i>
                <p class="text-center" *ngIf="item == 0">เลือกรูปหน้าปก</p>
                <p class="text-center" *ngIf="item != 0">เลือกรูป {{item+1}}</p>
            </label>
            <input *ngIf="!this.json['imgURL']['img_'+item]" id="file-input-{{item}}" type="file" #file name="file"
                class="sr-only" (change)="this.uploadImage(file.files,item)">
            <img [src]="this.json['imgURL']['img_'+item]" class="card-img-top p-5"
                *ngIf="this.json['imgURL']['img_'+item] == './assets/loading.svg'">
            <img [src]="this.json['imgURL']['img_'+item]['thumb']['url']" class="card-img-top"
                *ngIf="this.json['imgURL']['img_'+item]['url'] && this.json['imgURL']['img_'+item] != './assets/loading.svg'">
        </div>
    </div>
    <div class="col-md-12 my-5">
        <button class="btn btn-primary" (click)="this.saveDataToDatabase()">บันทึกข้อมูล</button>
    </div>
</div>