<footer class="text-muted">
    <div class="container">
        <p>ระบบ เซลขาย รถแยกเป็น 2 ส่วนคือ ส่วนของตัวแทน และส่วนของผู้ลงขาย</p>
        <p>ส่วนของตัวแทน สามารถดูรายละเอียดรถที่จะนำไปโพสต์ขาย ราคา ค่าคอมที่จะได้ เมือขายได้
            สถานะ ว่าง ขายแล้ว หรือติดจอง และเซลทุกคนสามารถดูได้ว่าใครเป็นเซลที่ขายไป</p>
        <p>ส่วนของผู้ลงขาย สามารถกำหนดได้ว่า จะให้เซลแต่ละท่าน สั่งจองจากตัวเว็บได้โดยตรง หรือ
            ทางผู้ลงขาย จะเป็นคนเปลี่ยนสถานะให้ สามารถลงขายรถได้ไม่จำกัด โดยเซลทุกท่านที่เป็นสมาชิกของ เซลขายรถ สามารถนำ
            รถของท่านไปลงขายได้</p>
    </div>
</footer>