<form class="form-signin" autocomplete="off">
    <img class="my-4" src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72"
        height="72">
    <h1 class="h3 mb-3 font-weight-normal">เข้าระบบ เซลขายรถ</h1>
    <label for="inputEmail" class="sr-only">อีเมล</label>
    <input type="email" id="inputEmail" class="form-control border-primary" placeholder="อีเมล" required="" autofocus="" autocomplete="email">
    <label for="inputPassword" class="sr-only">รหัสผ่าน</label>
    <input type="password" id="inputPassword" class="form-control border-primary" placeholder="รหัสผ่าน" required="" autocomplete="new-password">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">เข้าระบบ</button>
    <a class="btn btn-lg btn-outline-primary btn-block" role="button" href="#">สมัครตัวแทน</a>
    <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
</form>