<nav *ngIf="this.storeData" class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
        <a *ngIf="this.storeData.imgURL.img_0" class="navbar-brand mr-auto mr-lg-0" routerLink="/store/{{this.storeData.urlStore}}/home">
            <img style="height: 36px;" src="{{this.storeData.imgURL.img_0.url}}">
        </a>
        <a *ngIf="!this.storeData.imgURL.img_0" class="navbar-brand mr-auto mr-lg-0" routerLink="/store/{{this.storeData.urlStore}}/home">ร้าน
            {{this.storeData.nameStore | titlecase}}</a>

        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li *ngIf="!this.islogin" class="nav-item">
                    <a class="nav-link" routerLink="/index.html">หน้าแรก</a>
                </li>
                <li *ngIf="this.islogin" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/store/{{this.storeData.urlStore}}/profile">โปรไฟล์</a>
                </li>
                <li *ngIf="this.islogin" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/store/{{this.storeData.urlStore}}/addnewcar">เพิ่มรถใหม่</a>
                </li>
                <li *ngIf="this.islogin" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/store/{{this.storeData.urlStore}}/home">หน้าร้าน</a>
                </li>
                <li *ngIf="!this.islogin" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/storelogin.html">เข้าระบบร้าน</a>
                </li>
                <li *ngIf="this.islogin" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="javascript:void(0)" (click)="this.logOut()">ออกจากระบบ</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="javascript:void(0)" (click)="this.changeStyle()"><i
                            class="material-icons">emoji_objects</i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="nav-scroller bg-light shadow pt-75">
    <div class="container">
        <nav class="nav nav-underline">
            <a class="nav-link" routerLinkActive="text-dark"
                routerLink="/store/{{this.storeData.urlStore}}/home">หน้าร้าน</a>
            <!-- <a class="nav-link" routerLinkActive="text-dark"
                routerLink="/store/{{this.storeData.urlStore}}/book">รถที่จองแล้ว</a> -->
            <!-- <a class="nav-link" routerLinkActive="text-dark"
                routerLink="/store/{{this.storeData.urlStore}}/sale">รถที่ขายแล้ว</a> -->
            <!-- <a class="nav-link" routerLinkActive="text-dark"
                routerLink="/store/{{this.storeData.urlStore}}/open">รถที่รอขาย</a> -->
            <a class="nav-link" routerLinkActive="text-dark"
                routerLink="/store/{{this.storeData.urlStore}}/howto">ขั้นตอนการชื่อ</a>
            <a class="nav-link" routerLinkActive="text-dark"
                routerLink="/store/{{this.storeData.urlStore}}/contact">ติดต่อเรา</a>
        </nav>
    </div>
</div>
<div *ngIf="this.storeData && !this.checkRouter('addnewcar') && !this.checkRouter('profile')" class="container bg-light px-0 shadow">
    <img class="img-fluid" src="{{this.storeData.imgURL.img_1.url}}">
</div>