/* You can add global styles to this file, and also import other style files */
.color-gray {
    filter : grayscale(0.6);
    opacity: 0.7;
}

.commission {
    padding: 5px;
}
.place-label{
    top: 0;
    right: 0;
}

.price-label {
    bottom : 0px;
    right  : 0px;
    padding: 5px;
}

.height160 {
    height: 160px;
}

.pointer {
    cursor: pointer;
}

.h1 {
    font-size: 2.5rem !important;
}

.close-btn {
    top             : 5px;
    right           : 5px;
    color           : red;
    background-color: white;
}

.close-btn:hover {
    color           : white;
    background-color: red;
}

[ng-reflect-router-link],
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}