<div class="py-5" id="form-info-data">
    <h3 class="mb-5">ตั้งค่าโปรไฟล์ร้าน</h3>
    <div class="row mb-5">
        <div *ngFor="let item of [0,1,2]" class="col-md-2 mb-3">
            <div
                class="card d-flex align-items-center justify-content-center height160 position-relative rounded-lg overflow-hidden shadow-sm">
                <i *ngIf="this.json['imgURL']['img_'+item]" (click)="this.removePreview(item)"
                    class="material-icons position-absolute pointer close-btn rounded-circle">cancel</i>
                <label *ngIf="!this.json['imgURL']['img_'+item]" for="file-input-{{item}}"
                    class="h-100 w-100 d-flex align-items-center flex-column justify-content-center pointer m-0">
                    <i class="material-icons h1">
                        add_photo_alternate
                    </i>
                    <p class="text-center" *ngIf="item == 0">โลโก้<br>(สูง 36px)</p>
                    <p class="text-center" *ngIf="item == 1">แบนเนอร์หัวเว็บ<br>(กว้าง 1110px)</p>
                    <p class="text-center" *ngIf="item == 2">รูปพื้นหลัง</p>
                </label>
                <input *ngIf="!this.json['imgURL']['img_'+item]" id="file-input-{{item}}" type="file" #file name="file"
                    class="sr-only" (change)="this.uploadImage(file.files,item)">
                <img [src]="this.json['imgURL']['img_'+item]" class="card-img-top p-5"
                    *ngIf="this.json['imgURL']['img_'+item] == './assets/loading.svg'">
                <img [src]="this.json['imgURL']['img_'+item]['thumb']['url']" class="card-img-top bg-dark"
                    *ngIf="this.json['imgURL']['img_'+item]['url'] && this.json['imgURL']['img_'+item] != './assets/loading.svg'">
            </div>
        </div>
    </div>
    <h3>ข้อมูลร้าน</h3>
    <div class="form-group">
        <label>ชื่อร้าน/ชื่อกลุ่ม/ชื่อเต้น</label>
        <input type="text" class="form-control" #nameStore (keyup)="this.changeInput('nameStore',nameStore.value)" value="{{this.json['nameStore']}}"
            placeholder="ชื่อร้าน/ชื่อกลุ่ม/ชื่อเต้น">
    </div>
    <div class="form-group">
        <label>วิธีการทำงาน</label>
        <ckeditor [data]="this.json['howto']" (change)="this.changeInputckeditor($event,'howto')"></ckeditor>
    </div>
    <div class="form-group">
        <label>ข้อมูลติดต่อเรา</label>
        <ckeditor [data]="this.json['contact']" (change)="this.changeInputckeditor($event,'contact')"></ckeditor>
    </div>
   
    <h3>ข้อมูลส่วนตัว</h3>
    <div class="form-group">
        <label>เบอร์ติดต่อ</label>
        <input type="text" class="form-control" #phone (keyup)="this.changeInput('phone',phone.value)" placeholder="เบอร์ติดต่อ" value="{{this.json['phone']}}">
    </div>
    <div class="form-group">
        <label>Line กลุ่ม/เพจ/ส่วนตัว</label>
        <input type="text" class="form-control" #line (keyup)="this.changeInput('line',line.value)" placeholder="Line กลุ่ม/เพจ/ส่วนตัว" value="{{this.json['line']}}">
    </div>
    <div class="form-group">
        <label>Facebook กลุ่ม/เพจ/ส่วนตัว</label>
        <input type="text" class="form-control" #facebook (keyup)="this.changeInput('facebook',facebook.value)" placeholder="Facebook กลุ่ม/เพจ/ส่วนตัว" value="{{this.json['facebook']}}">
    </div>
    <div class="form-group">
        <label>Google Map</label>
        <input type="text" class="form-control" #googlemap (keyup)="this.changeInput('googlemap',googlemap.value)" placeholder="Google Map" value="{{this.json['googlemap']}}">
    </div>
    <button type="button" class="btn btn-primary my-5" (click)="this.saveDataToDatabase()">บันทึกข้อมูล</button>
    <h3>เปลี่ยนรหัสผ่าน</h3>
    <div class="form-group">
        <label>รหัสผ่าน เก่า</label>
        <input type="text" class="form-control" placeholder="รหัสผ่าน เก่า">
    </div>
    <div class="form-group">
        <label>รหัสผ่าน</label>
        <input type="text" class="form-control" placeholder="รหัสผ่าน">
    </div>
    <div class="form-group">
        <label>ยืนยัน รหัสผ่าน</label>
        <input type="text" class="form-control" placeholder="ยืนยัน รหัสผ่าน">
    </div>
    <button type="button" class="btn btn-primary my-5">เปลี่ยนรหัสผ่านใหม่</button>
</div>

<div id="loading" class="text-center py-5" style="display: none;">
    <strong>กำลังบันทึกข้อมูล...</strong>
    <div class="w-100 d-flex justify-content-center">
        <div class="spinner-border m-5" style="width: 5rem; height: 5rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>