<div class="py-5">
    <div class="container">
        <h3 class="mb-5">รถมาใหม่</h3>
        <div *ngIf="this.carListData == 'loading'" class="text-center mt-5">
            <strong>กำลังโหลดข้อมูล...</strong>
            <div class="w-100 d-flex justify-content-center">
                <div class="spinner-border m-5" style="width: 5rem; height: 5rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

        <div *ngIf="this.carListData.length > 0 && this.carListData != 'loading'" class="row">

            <div *ngFor="let item of this.carListData | paginate: config" class="col-md-3">
                <div class="card mb-4 shadow">
                    <div class="position-relative">
                        <small class="position-absolute commission text-white bg-success">ราคา
                            {{item['price'] | number}} บาท</small>
                        <img src="{{item['imgURL']['img_0']['thumb']['url']}}"
                            class="bd-placeholder-img card-img-top" />
                        <p class="position-absolute price-label text-white bg-danger h4">{{item['commission'] | number}}
                            บาท
                        </p>
                    </div>
                    <div class="card-body">
                        <p class="card-text small">{{item['name']}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-success" *ngIf="item['status'] == 'open'">พร้อมขาย</small>
                            <small class="text-warning" *ngIf="item['status'] == 'book'">ติดจองแล้ว</small>
                            <small class="text-danger" *ngIf="item['status'] == 'sale'">ขายไปแล้ว</small>
                            <small class="text-muted">{{item['datePost'] | ago}}</small>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <small class="d-flex align-items-center text-muted"><i class="material-icons">place</i>
                            {{item['province']}}</small>
                        <a *ngIf="item['namestore']" routerLink="/store/{{item['urlStore']}}/home"
                            class="small d-flex align-items-center text-muted"><i
                                class="material-icons">business_center</i> {{item['namestore']}}</a>
                        <!-- <small *ngIf="item['namesale']" class="d-flex align-items-center text-success"><i
                                class="material-icons">person_pin</i>{{item['namesale']}}</small> -->
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
                    <nav aria-label="แบ่งหน้าชื่อขายรถมือสองและมือหนึ่ง" class="d-flex justify-content-center">
                        <ul class="pagination">

                            <li [class.disabled]="p.isFirstPage()" class="page-item">
                                <a class="page-link"
                                    [routerLink]="[this.pathname,{page: (config.currentPage==1) ? config.currentPage:config.currentPage-1}]">
                                    ก่อนหน้า
                                </a>
                            </li>

                            <li [class.disabled]="p.getCurrent() === page.value" class="page-item"
                                *ngFor="let page of p.pages">
                                <a class="page-link" [routerLink]="[this.pathname,{page: page.value}]">
                                    {{ page.label }}
                                </a>
                            </li>

                            <li [class.disabled]="p.isLastPage()" class="page-item">
                                <a class="page-link" [routerLink]="[this.pathname,{page: config.currentPage+1}]">
                                    ถัดไป
                                </a>
                            </li>

                        </ul>
                    </nav>
                </pagination-template>
            </div>
        </div>

        <div *ngIf="this.carListData.length == 0 && this.carListData != 'loading'" class="text-center">
            <h1>ยังไม่มีรถที่ประกาศขาย</h1>
        </div>
    </div>
</div>